@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-primary: #111111;
    --color-secondary: #FDFBF7;
    --color-accent: #D4AF37;
  }
}
body {
  @apply bg-black text-white;
  font-family: Outfit, sans-serif;
  scroll-behavior: smooth;
}